/* Step-2 You can assign padding to all sides of a container by using the padding property. */

.content-left {
 padding: 30px;
 display: flex;
 flex-direction: column;
}

/* Step 2 You can assign padding to all sides of a container by using the padding property. */
.main-section {
    display: flex;
    height: 100vh;
}

.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    width: 100%;
    height: 30%;
    background: #96F0F2;
    margin-bottom: 30px;
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    width: 100%;
    background: #12F3F7;
    height: 70%;

}

/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.logo-container {
    background: #4F4949;
    height: 100%;
    width: 200px;

}


/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.menu-container {
    background: #4F4949;
    height: 100%;
    width: 50px;
}



