/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 49%;
    height: 400px;
    display: inline-block;
    /* margin: 0 20px 30px; */
    background: #DC430A;
    margin-bottom: 30px;
    justify-content: center;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    width: 100%;
    height: 275px;
    margin: 0 auto 20px;
    background: #ACA1D6;
    display: flex;

}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    width: 100%;
    height: 800px;
    margin: 0 auto 20px;
    background: #F8EE32;
}


